In [58]:
import pandas as pd
from design import columns_names
from statistics import mean, stdev
from math import sqrt
import numpy as np

In [59]:
import warnings
warnings.filterwarnings("ignore")

# Main ANOVA - SPSS Script

In [60]:
FACTOR = 'risk_group'
FEATURES = columns_names.columns_names

for i in FEATURES:
    print("""
    GLM {0}_x {0}_y {0}_z {0}_w BY {1}
      /WSFACTOR=time 4 Polynomial 
      /MEASURE={0}
      /METHOD=SSTYPE(3)
      /EMMEANS=TABLES({1}*time) COMPARE(time) ADJ(BONFFERONI)
      /EMMEANS=TABLES(time) COMPARE(time) ADJ(BONFFERONI)
      /PLOT=PROFILE(time*{1})  TYPE=LINE ERRORBAR=SE(1) MEANREFERENCE=NO YAXIS=AUTO  
      /PRINT=DESCRIPTIVE ETASQ OPOWER HOMOGENEITY 
      /CRITERIA=ALPHA(.05)
      /WSDESIGN=time 
      /DESIGN={1} .
    """.format(i,FACTOR)
    )

    GLM screen_duration_total_x screen_duration_total_y screen_duration_total_z screen_duration_total_w BY risk_group
      /WSFACTOR=time 4 Polynomial
      /MEASURE=screen_duration_total
      /METHOD=SSTYPE(3)
      /EMMEANS=TABLES(risk_group*time) COMPARE(time) ADJ(BONFFERONI)
      /EMMEANS=TABLES(time) COMPARE(time) ADJ(BONFFERONI)
      /PLOT=PROFILE(time*risk_group)  TYPE=LINE ERRORBAR=SE(1) MEANREFERENCE=NO YAXIS=AUTO
      /PRINT=DESCRIPTIVE ETASQ OPOWER HOMOGENEITY
      /CRITERIA=ALPHA(.05)
      /WSDESIGN=time
      /DESIGN=risk_group .


    GLM quest_mood_x quest_mood_y quest_mood_z quest_mood_w BY risk_group
      /WSFACTOR=time 4 Polynomial
      /MEASURE=quest_mood
      /METHOD=SSTYPE(3)
      /EMMEANS=TABLES(risk_group*time) COMPARE(time) ADJ(BONFFERONI)
      /EMMEANS=TABLES(time) COMPARE(time) ADJ(BONFFERONI)
      /PLOT=PROFILE(time*risk_group)  TYPE=LINE ERRORBAR=SE(1) MEANREFERENCE=NO YAXIS=AUTO
      /PRINT=DESCRIPTIVE ETASQ OPOWER HOMOGENEITY
      /CRITERIA=ALPHA(.05)
      /WSDESIGN=time
      /DESIGN=risk_group .


    GLM quest_stress_x quest_stress_y quest_stress_z quest_stress_w BY risk_group
      /WSFACTOR=time 4 Polynomial
      /MEASURE=quest_stress
      /METHOD=SSTYPE(3)
      /EMMEANS=TABLES(risk_group*time) COMPARE(time) ADJ(BONFFERONI)
      /EMMEANS=TABLES(time) COMPARE(time) ADJ(BONFFERONI)
      /PLOT=PROFILE(time*risk_group)  TYPE=LINE ERRORBAR=SE(1) MEANREFERENCE=NO YAXIS=AUTO
      /PRINT=DESCRIPTIVE ETASQ OPOWER HOMOGENEITY
      /CRITERIA=ALPHA(.05)
      /WSDESIGN=time
      /DESIGN=risk_group .


    GLM quest_meetings_x quest_meetings_y quest_meetings_z quest_meetings_w BY risk_group
      /WSFACTOR=time 4 Polynomial
      /MEASURE=quest_meetings
      /METHOD=SSTYPE(3)
      /EMMEANS=TABLES(risk_group*time) COMPARE(time) ADJ(BONFFERONI)
      /EMMEANS=TABLES(time) COMPARE(time) ADJ(BONFFERONI)
      /PLOT=PROFILE(time*risk_group)  TYPE=LINE ERRORBAR=SE(1) MEANREFERENCE=NO YAXIS=AUTO
      /PRINT=DESCRIPTIVE ETASQ OPOWER HOMOGENEITY
      /CRITERIA=ALPHA(.05)
      /WSDESIGN=time
      /DESIGN=risk_group .


    GLM awake_duration_in_seconds_x awake_duration_in_seconds_y awake_duration_in_seconds_z awake_duration_in_seconds_w BY risk_group
      /WSFACTOR=time 4 Polynomial
      /MEASURE=awake_duration_in_seconds
      /METHOD=SSTYPE(3)
      /EMMEANS=TABLES(risk_group*time) COMPARE(time) ADJ(BONFFERONI)
      /EMMEANS=TABLES(time) COMPARE(time) ADJ(BONFFERONI)
      /PLOT=PROFILE(time*risk_group)  TYPE=LINE ERRORBAR=SE(1) MEANREFERENCE=NO YAXIS=AUTO
      /PRINT=DESCRIPTIVE ETASQ OPOWER HOMOGENEITY
      /CRITERIA=ALPHA(.05)
      /WSDESIGN=time
      /DESIGN=risk_group .


    GLM sleep_start_hour_x sleep_start_hour_y sleep_start_hour_z sleep_start_hour_w BY risk_group
      /WSFACTOR=time 4 Polynomial
      /MEASURE=sleep_start_hour
      /METHOD=SSTYPE(3)
      /EMMEANS=TABLES(risk_group*time) COMPARE(time) ADJ(BONFFERONI)
      /EMMEANS=TABLES(time) COMPARE(time) ADJ(BONFFERONI)
      /PLOT=PROFILE(time*risk_group)  TYPE=LINE ERRORBAR=SE(1) MEANREFERENCE=NO YAXIS=AUTO
      /PRINT=DESCRIPTIVE ETASQ OPOWER HOMOGENEITY
      /CRITERIA=ALPHA(.05)
      /WSDESIGN=time
      /DESIGN=risk_group .


    GLM quest_sleep_time_x quest_sleep_time_y quest_sleep_time_z quest_sleep_time_w BY risk_group
      /WSFACTOR=time 4 Polynomial
      /MEASURE=quest_sleep_time
      /METHOD=SSTYPE(3)
      /EMMEANS=TABLES(risk_group*time) COMPARE(time) ADJ(BONFFERONI)
      /EMMEANS=TABLES(time) COMPARE(time) ADJ(BONFFERONI)
      /PLOT=PROFILE(time*risk_group)  TYPE=LINE ERRORBAR=SE(1) MEANREFERENCE=NO YAXIS=AUTO
      /PRINT=DESCRIPTIVE ETASQ OPOWER HOMOGENEITY
      /CRITERIA=ALPHA(.05)
      /WSDESIGN=time
      /DESIGN=risk_group .


    GLM quest_sleep_quality_x quest_sleep_quality_y quest_sleep_quality_z quest_sleep_quality_w BY risk_group
      /WSFACTOR=time 4 Polynomial
      /MEASURE=quest_sleep_quality
      /METHOD=SSTYPE(3)
      /EMMEANS=TABLES(risk_group*time) COMPARE(time) ADJ(BONFFERONI)
      /EMMEANS=TABLES(time) COMPARE(time) ADJ(BONFFERONI)
      /PLOT=PROFILE(time*risk_group)  TYPE=LINE ERRORBAR=SE(1) MEANREFERENCE=NO YAXIS=AUTO
      /PRINT=DESCRIPTIVE ETASQ OPOWER HOMOGENEITY
      /CRITERIA=ALPHA(.05)
      /WSDESIGN=time
      /DESIGN=risk_group .


    GLM still_ratio_x still_ratio_y still_ratio_z still_ratio_w BY risk_group
      /WSFACTOR=time 4 Polynomial
      /MEASURE=still_ratio
      /METHOD=SSTYPE(3)
      /EMMEANS=TABLES(risk_group*time) COMPARE(time) ADJ(BONFFERONI)
      /EMMEANS=TABLES(time) COMPARE(time) ADJ(BONFFERONI)
      /PLOT=PROFILE(time*risk_group)  TYPE=LINE ERRORBAR=SE(1) MEANREFERENCE=NO YAXIS=AUTO
      /PRINT=DESCRIPTIVE ETASQ OPOWER HOMOGENEITY
      /CRITERIA=ALPHA(.05)
      /WSDESIGN=time
      /DESIGN=risk_group .


    GLM steps_x steps_y steps_z steps_w BY risk_group
      /WSFACTOR=time 4 Polynomial
      /MEASURE=steps
      /METHOD=SSTYPE(3)
      /EMMEANS=TABLES(risk_group*time) COMPARE(time) ADJ(BONFFERONI)
      /EMMEANS=TABLES(time) COMPARE(time) ADJ(BONFFERONI)
      /PLOT=PROFILE(time*risk_group)  TYPE=LINE ERRORBAR=SE(1) MEANREFERENCE=NO YAXIS=AUTO
      /PRINT=DESCRIPTIVE ETASQ OPOWER HOMOGENEITY
      /CRITERIA=ALPHA(.05)
      /WSDESIGN=time
      /DESIGN=risk_group .


    GLM average_heart_rate_in_beats_per_minute_x average_heart_rate_in_beats_per_minute_y average_heart_rate_in_beats_per_minute_z average_heart_rate_in_beats_per_minute_w BY risk_group
      /WSFACTOR=time 4 Polynomial
      /MEASURE=average_heart_rate_in_beats_per_minute
      /METHOD=SSTYPE(3)
      /EMMEANS=TABLES(risk_group*time) COMPARE(time) ADJ(BONFFERONI)
      /EMMEANS=TABLES(time) COMPARE(time) ADJ(BONFFERONI)
      /PLOT=PROFILE(time*risk_group)  TYPE=LINE ERRORBAR=SE(1) MEANREFERENCE=NO YAXIS=AUTO
      /PRINT=DESCRIPTIVE ETASQ OPOWER HOMOGENEITY
      /CRITERIA=ALPHA(.05)
      /WSDESIGN=time
      /DESIGN=risk_group .


    GLM quest_sport_time_x quest_sport_time_y quest_sport_time_z quest_sport_time_w BY risk_group
      /WSFACTOR=time 4 Polynomial
      /MEASURE=quest_sport_time
      /METHOD=SSTYPE(3)
      /EMMEANS=TABLES(risk_group*time) COMPARE(time) ADJ(BONFFERONI)
      /EMMEANS=TABLES(time) COMPARE(time) ADJ(BONFFERONI)
      /PLOT=PROFILE(time*risk_group)  TYPE=LINE ERRORBAR=SE(1) MEANREFERENCE=NO YAXIS=AUTO
      /PRINT=DESCRIPTIVE ETASQ OPOWER HOMOGENEITY
      /CRITERIA=ALPHA(.05)
      /WSDESIGN=time
      /DESIGN=risk_group .

# Post hoc ANOVA

In [61]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [62]:
df_anova = pd.read_csv('second_anova.csv')

In [63]:
all_features_list = [
            'screen_duration_total', 
            'quest_mood',
            'quest_stress',
            'quest_meetings', 
            'steps',
            'average_heart_rate_in_beats_per_minute',
            'still_ratio',        
            'quest_sport_time', 
            'awake_duration_in_seconds', 
            'sleep_start_hour', 
            'quest_sleep_time', 
            'quest_sleep_quality',
            
             ]

In [64]:
matrix = []
for col in all_features_list:
    #perform five-way ANOVA
    model = ols(f"""{col}_diff ~ C(age) + C(gender) + C(income) + C({col}_is_above_median)+ C(risk_group)""", data=df_anova).fit()
    print('###########')
    print(col)
    model_df = sm.stats.anova_lm(model, typ=2).round(6)
    p_array = model_df['PR(>F)'].iloc[:5].values
    matrix.append(p_array)
    display(model_df)

###########
screen_duration_total

,sum_sq,df,F,PR(>F)
C(age),3.782766e+06,1.0,0.250730,0.616918
C(gender),7.994704e+07,1.0,5.299074,0.022001
C(income),5.780250e+06,2.0,0.191564,0.825765
C(screen_duration_total_is_above_median),5.143372e+07,1.0,3.409146,0.065792
C(risk_group),1.346133e+08,1.0,8.922482,0.003042
Residual,4.661877e+09,309.0,NaN,NaN

###########
quest_mood

                                  sum_sq     df          F    PR(>F)
C(age)                          0.262123    1.0   0.936162  0.334079
C(gender)                       0.460597    1.0   1.645003  0.200672
C(income)                       0.055430    2.0   0.098983  0.905789
C(quest_mood_is_above_median)   8.059608    1.0  28.784542  0.000000
C(risk_group)                   2.518349    1.0   8.994175  0.002945
Residual                       80.639362  288.0        NaN       NaN

###########
quest_stress

                                    sum_sq     df          F    PR(>F)
C(age)                            0.065800    1.0   0.220789  0.638794
C(gender)                         2.695709    1.0   9.045352  0.002865
C(income)                         0.095756    2.0   0.160652  0.851664
C(quest_stress_is_above_median)   3.711894    1.0  12.455123  0.000485
C(risk_group)                     2.842018    1.0   9.536285  0.002210
Residual                         86.128199  289.0        NaN       NaN

###########
quest_meetings

                                         sum_sq     df          F    PR(>F)
C(age)                                73.503376    1.0   1.061529  0.303737
C(gender)                            107.344104    1.0   1.550254  0.214117
C(income)                            271.516156    2.0   1.960606  0.142661
C(quest_meetings_is_above_median)   1329.132175    1.0  19.195211  0.000017
C(risk_group)                         76.858817    1.0   1.109988  0.292974
Residual                           19803.471279  286.0        NaN       NaN

###########
steps

                                sum_sq     df          F    PR(>F)
C(age)                    1.146636e+07    1.0   3.533530  0.060907
C(gender)                 1.102902e+06    1.0   0.339876  0.560248
C(income)                 1.861181e+07    2.0   2.867755  0.058060
C(steps_is_above_median)  2.067455e+08    1.0  63.711726  0.000000
C(risk_group)             6.855385e+05    1.0   0.211259  0.646046
Residual                  1.229861e+09  379.0        NaN       NaN

###########
average_heart_rate_in_beats_per_minute

,sum_sq,df,F,PR(>F)
C(age),39.017852,1.0,4.416117,0.036303
C(gender),0.939570,1.0,0.106342,0.744539
C(income),5.332789,2.0,0.301788,0.739684
C(average_heart_rate_in_beats_per_minute_is_above_median),5.282611,1.0,0.597896,0.439895
C(risk_group),2.584878,1.0,0.292562,0.588922
Residual,3145.377275,356.0,NaN,NaN

###########
still_ratio

                                  sum_sq     df         F    PR(>F)
C(age)                          0.003074    1.0  0.707223  0.401005
C(gender)                       0.002455    1.0  0.564808  0.452891
C(income)                       0.006380    2.0  0.733875  0.480864
C(still_ratio_is_above_median)  0.041920    1.0  9.644271  0.002072
C(risk_group)                   0.005172    1.0  1.189818  0.276200
Residual                        1.369177  315.0       NaN       NaN

###########
quest_sport_time

                                            sum_sq     df          F    PR(>F)
C(age)                                   27.334612    1.0   0.047960  0.826809
C(gender)                               231.476540    1.0   0.406135  0.524449
C(income)                              1360.235565    2.0   1.193295  0.304731
C(quest_sport_time_is_above_median)   16041.984747    1.0  28.146337  0.000000
C(risk_group)                          5441.113253    1.0   9.546662  0.002201
Residual                             162435.544810  285.0        NaN       NaN

###########
awake_duration_in_seconds

,sum_sq,df,F,PR(>F)
C(age),3.551047e+05,1.0,1.217416,0.270934
C(gender),1.752203e+05,1.0,0.600713,0.439042
C(income),7.711290e+05,2.0,1.321842,0.268508
C(awake_duration_in_seconds_is_above_median),5.428708e+06,1.0,18.611397,0.000023
C(risk_group),2.600752e+04,1.0,0.089162,0.765494
Residual,7.263014e+07,249.0,NaN,NaN

###########
sleep_start_hour

                                         sum_sq     df         F    PR(>F)
C(age)                                 0.056294    1.0  0.104117  0.747215
C(gender)                              0.004465    1.0  0.008258  0.927667
C(income)                              0.214254    2.0  0.198132  0.820391
C(sleep_start_hour_is_above_median)    0.771971    1.0  1.427768  0.233266
C(risk_group)                          1.729867    1.0  3.199405  0.074881
Residual                             134.630299  249.0       NaN       NaN

###########
quest_sleep_time

                                         sum_sq     df          F    PR(>F)
C(age)                                 0.315111    1.0   0.498332  0.480802
C(gender)                              0.567790    1.0   0.897931  0.344129
C(income)                              1.982590    2.0   1.567683  0.210296
C(quest_sleep_time_is_above_median)    6.687541    1.0  10.576005  0.001281
C(risk_group)                          0.042425    1.0   0.067094  0.795801
Residual                             182.743815  289.0        NaN       NaN

###########
quest_sleep_quality

                                           sum_sq     df          F    PR(>F)
C(age)                                   0.378065    1.0   1.583033  0.209340
C(gender)                                0.183026    1.0   0.766366  0.382070
C(income)                                0.051597    2.0   0.108023  0.897644
C(quest_sleep_quality_is_above_median)   3.609576    1.0  15.113991  0.000126
C(risk_group)                            2.890644    1.0  12.103686  0.000581
Residual                                69.019983  289.0        NaN       NaN

In [65]:
p_values_df = pd.DataFrame(matrix, columns = ['Age Group', 'Gender', 'Income Level', 'Baseline Level', 'Exposure Group'], index = all_features_list)

In [66]:
for col in p_values_df.columns:
    for i in p_values_df.index:
        val = p_values_df[col].loc[i]
        if val < 0.05 and val >= 0.01:
            p_values_df[col].loc[i] = str(round(val,3))+'*'
        elif val < 0.01 and val >= 0.001:
            p_values_df[col].loc[i] = str(round(val,3))+'**'
        elif val < 0.001:
            p_values_df[col].loc[i] = str(round(val,3))+'***'
p_values_df

,Age Group,Gender,Income Level,Baseline Level,Exposure Group
screen_duration_total,0.616918,0.022*,0.825765,0.065792,0.003**
quest_mood,0.334079,0.200672,0.905789,0.0***,0.003**
quest_stress,0.638794,0.003**,0.851664,0.0***,0.002**
quest_meetings,0.303737,0.214117,0.142661,0.0***,0.292974
steps,0.060907,0.560248,0.058060,0.0***,0.646046
average_heart_rate_in_beats_per_minute,0.036*,0.744539,0.739684,0.439895,0.588922
still_ratio,0.401005,0.452891,0.480864,0.002**,0.2762
quest_sport_time,0.826809,0.524449,0.304731,0.0***,0.002**
awake_duration_in_seconds,0.270934,0.439042,0.268508,0.0***,0.765494
sleep_start_hour,0.747215,0.927667,0.820391,0.233266,0.074881
quest_sleep_time,0.480802,0.344129,0.210296,0.001**,0.795801
quest_sleep_quality,0.20934,0.38207,0.897644,0.0***,0.001***